html {
  font-family: "Roboto";
  background-color: pink;
}

a {
  color: black;
}

#sidebar {
  border-right: black solid 1px;
}

#settings{
  margin-bottom: 50px;
}

.box {
  background-color: white;
  border: 1px solid black;
  height: auto;
  padding: 15px 15px 15px 15px;
  font-size: 2em;
  text-align: center;
}
