html {
  font-family: "Roboto";
  background-color: pink;
}

a {
  color: black;
}

.box {
  background-color: white;
  border: 1px solid black;
  height: 10em;
  padding: 130px 15px 15px 15px;
  font-size: 2em;
  text-align: center;
}

.p1 {
  position: relative;
  top: 85%;
  width: auto;
  margin: auto;
}

#sidebar {
  border-right: black solid 1px;
}

#fab {
  position: absolute;
  width: 8em;
  height: 2.3em;
  margin-left: -1em;
  margin-top: -1.15em;
  top: 93%;
  left: 85%;
}
